.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 30px;
    padding-bottom: 100px;
}
.pokedex__img {
    margin-bottom: 10px;
    max-width: 450px;
}
.pokedex__subtitle {
    text-align: center;
    color: var(--color-blue);
    font-size: 2.5rem;
    margin-bottom: 2px;
}
.pokedex__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.pokedex__input {
    padding: 10px 20px;
    box-shadow: -1px 2px 5px #0007;
    font-size: 1.2rem;
    height: 40px;
}

.pokedex__btn {
    padding: 10px 20px;
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: -1px 2px 5px #0007;
    border-radius: 9px;
    cursor: pointer;
    height: 40px;
}

.pokedex__btn:hover {
    filter: brightness(1.2);
}